h1 {
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: blue;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow:1px 1px 38px yellow;}
    to{box-shadow:1px 1px 38px navy;}
}
body{
    
    background-image: url('https://www.wallpapertip.com/wmimgs/114-1143467_mustache-wallpaper-and-background-image-cute-background-for.jpg');
}